main {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%; 
    margin: auto; 
}

.table-sortable { 
    border-collapse: collapse;
    text-align: left; 
    
  }
  th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
    cursor: pointer;
    transition: .3s linear;
  }
 
  
  td { 
    color: rgb(67, 67, 110);
    padding: 9px 8px;
    
  }
  th:hover  {
    color: #f266ff;
  }
 
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }

  .table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}